

section {
  height: 50vh;
  width: 100%;
  padding-top: 10vh;
}

section .top {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(65 66 65);
}

section .top .text1 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 700;
}

section .top .text2 {
  margin-top: 3rem;
  font-size: 4rem;
  font-weight:450;
}

section .top .text3 {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight:450;
  font-style: italic;
}

hr {
    width: 30%;
    color: white;
}


/* value 페이지 */
.contents {
  height: 45vh;
  width: 120%;
  padding-right: 250px;
}

#third{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.like-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 70%;
}
.like {
  width: 18%;
  height: 90%;
  margin: 0 1rem;
  box-shadow: 7px 10px 15px #8e9296;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000000;
  text-align: center;
  font-size: 0px;
}
.like:hover {
  font-size: 1rem;
}
.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  flex-direction: row;
}
.titles span {
  width: 18%;
  margin: 0 1rem;
  height: auto;
  text-align: center;
  font-size: 20px;
}
#like-first {
  background: url('img/health.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#like-first:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('img/health.jpg');
}
#like-second {
  background: url('img/people.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#like-second:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('img/people.jpg');
}
#like-third {
  background: url('img/development.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#like-third:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('img/development.jpg');
}

#fourth {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}



}
